<%- include('header') %>

  <div class="container">
    <div class="row">
      <h1>User Dashboard</h1>

      <br>
        
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-list-alt"></i></span>
          <div class="info-box-content">
              <span class="info-box-text">Total Password Category</span>
              <span class="info-box-number"><%= totalPassCat %></span>
          </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="warning-box">
        <span class="info-box-icon bg-warning"><i class="fa fa-key"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Total Passwords</span>
            <span class="info-box-number"><%= totalPassword %></span>
        </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
    </div>
  </div>
<%- include('footer') %>
